
          <div class="row">
            <div class="span2">

              <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo1">
                Medical 2324 - <br>8:15 | I Street
              </button>
              <div id="demo1" class="collapse in"> Dehydrated female, 20 yrs old </div>

              <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#demo2">
                Fire 2319 - <br>4:15 | Espl
              </button>
              <div id="demo2" class="collapse in"> Burn Barrel spilling over </div>

              <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo3">
                Assist 2336 - <br>2:30 | A Street
              </button>
              <div id="demo3" class="collapse in"> Disoriented male, 45 yrs old </div>

            </div>
            
            <div class="span2">

              <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo4">
                Vehicle 2290 - <br>7:00 | C Street
              </button>
 
              <div id="demo4" class="collapse in"> Vehicle blocking fire lane </div>


            </div>
            
            <div class="span2">

              <button Type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo5">
                Mntl Hlth 2294 - <br>6:00 | J Street
              </button>
 
              <div id="demo5" class="collapse in"> Very upset female, 30 yrs old </div>


            </div>
          </div>
        
 