
          <div class="row">
            <form>
            <legend>Run Reports</legend>
            <label>Report Name</label>
            <select>
              <option>Incidents by Type</option>
              <option>Shift Summary</option>
              <option>L.E. Meeting</option>
              <option>Ops Manager</option>
              <option>Shift Detail</option>
            </select>
            
            <button type="submit" class="btn">Submit</button>
            </form>
          </div>

          <div class="row">
            <form>
            <legend>Run Reports</legend>
            <label>Report Name</label>
            <select>
              <option>Incidents by Type</option>
              <option>Shift Summary</option>
              <option>L.E. Meeting</option>
              <option>Ops Manager</option>
              <option>Shift Detail</option>
            </select>
            
            <button type="submit" class="btn">Submit</button>
            </form>
          </div>


        