
          <table class="table table-hover"> 

          <form>
            <legend>On-Duty Rangers</legend>
            <label>Type</label>
            <select>
              <option>Foot Mobile</option>
              <option>Bike Mobile</option>
              <option>Vehicle Mobile</option>
              <option>Special</option>
              <option>HQ</option>
            </select>
            <input type="text" placeholder="Enter Name">
            <button type="submit" class="btn">Submit</button>
          </form>

            <tbody>

              <tr><td>Ranger</td></tr>
              <tr><td>Ranger</td></tr>
              <tr><td>Ranger</td></tr>
              <tr><td>Ranger</td></tr>
              <tr><td>Ranger</td></tr>
              <tr><td>Ranger</td></tr>
            </tbody>

          </table>

        